<div class="column is-full no-pad" *ngIf="hasContent">
    <section id="intro" class="column is-center is-9-desktop offset no-pad">

        <div class="subheader is-full" data-aos="fade-up">
            <app-localized en="Workshops" tm="பட்டறைகள்" hi="dk;Z”kkyk"></app-localized>
        </div>

    </section>

    <section id="content" class="columns is-multiline is-mobile is-center is-9-desktop offset no-pad">

        <div class="column is-full-mobile is-full-tablet is-half-desktop" data-aos="fade-left" data-aos-delay="200">
            <app-localized en="{{content.introEn}}" tm="{{content.introTm}}" hi="{{content.introHi}}"></app-localized>
        </div>
        <div class="column is-full-mobile" data-aos="fade-up" data-aos-delay="300">
            <app-localized en="{{content.intro2En}}" tm="{{content.intro2Tm}}" hi="{{content.intro2Hi}}">
            </app-localized>
        </div>

        <h3 class="column is-full push" data-aos="fade-left">
            <app-localized en="One-Day Workshop" tm="ஒரு நாள் பட்டறை:" hi=",d fnolh; dk;Z'kkyk"></app-localized>
            <p>
                <app-localized en="For Educators & Community workers" tm="கல்வியாளர்களுக்கும் சமூக பணியாளர்களுக்கும்"
                    hi="f'k{kdksa vkSj leqnk; ds dk;ZdrkZvksa ds fy,">
                </app-localized>
            </p>
        </h3>

        <div class="column is-full-mobile is-full-tablet is-5-desktop" data-aos="fade-right">
            <h5>
                <app-localized en="Introduction" tm="முன்னுரை" hi="ifjp;"></app-localized>
            </h5>
        </div>
        <div class="column is-full-mobile" data-aos="fade" data-aos-delay="400">
            <span *ngIf="content.oneDayIntroEn" [innerHtml]="content.oneDayIntroEn | linebreak"></span>
            <span *ngIf="content.oneDayIntroTm" [innerHtml]="content.oneDayIntroTm | linebreak"></span>
            <span *ngIf="content.oneDayIntroHi" class="hi" [innerHtml]="content.oneDayIntroHi | linebreak"></span>
        </div>

        <div class="column is-full">
            <hr data-aos="seperator-width" />
        </div>

        <div class="column is-full-mobile is-full-tablet is-5-desktop" data-aos="fade-right">
            <h5>
                <app-localized en="Objectives" tm="நோக்கங்கள்:" hi="mís';"></app-localized>
            </h5>
        </div>
        <div class="column is-full-mobile" data-aos="fade" data-aos-delay="400">
            <span *ngIf="content.oneDayIntroEn" [innerHtml]="content.oneDayObjEn | linebreak"></span>
            <span *ngIf="content.oneDayIntroTm" [innerHtml]="content.oneDayObjTm | linebreak"></span>
            <span *ngIf="content.oneDayIntroHi" class="hi" [innerHtml]="content.oneDayObjHi | linebreak"></span>
        </div>

        <div class="column is-full center" data-aos="fade-up">

            <a href="{{content.oneDayfacGuide.url}}" class="link">
                <app-localized en="View the Facilitation Plan" tm="வழி நடத்துதளுக்கான கையேட்டை காண்க"
                    hi="lqfo/kk ;kstuk ns[ksa">
                </app-localized>
            </a>

        </div>

        <h3 class="column is-full" data-aos="fade-left">
            <app-localized en="Four-Day Certification Course" tm="நான்கு நாள் சான்றிதழ் பாடக்கோப்பு"
                hi="pkj fnolh; çek.k&i= ikBîØe"></app-localized>
            <p>
                <app-localized en="For Master Trainers in education and sanitation"
                    tm="கல்வி மற்றும் சுகாதார பிரிவிலுள்ள தலைமை பயிற்சியாளர்களுக்கு"
                    hi="f'k{kk vkSj LoPNrk esa ekLVj çf'k{kdksa ds fy,">
                </app-localized>
            </p>
        </h3>

        <div class="column is-full-mobile is-full-tablet is-5-desktop" data-aos="fade-right">
            <h5>
                <app-localized en="Introduction" tm="முன்னுரை" hi="ifjp;"></app-localized>
            </h5>
        </div>
        <div class="column is-full-mobile" data-aos="fade" data-aos-delay="400">
            <span *ngIf="content.oneDayIntroEn" [innerHtml]="content.fourDayIntroEn | linebreak"></span>
            <span *ngIf="content.oneDayIntroTm" [innerHtml]="content.fourDayIntroTm | linebreak"></span>
            <span *ngIf="content.oneDayIntroHi" class="hi" [innerHtml]="content.fourDayIntroHi | linebreak"></span>
        </div>

        <div class="column is-full">
            <hr data-aos="seperator-width" />
        </div>

        <div class="column is-full-mobile is-full-tablet is-5-desktop" data-aos="fade-right">
            <h5>
                <app-localized en="Objectives" tm="நோக்கங்கள்:" hi="mís';"></app-localized>
            </h5>
        </div>
        <div class="column is-full-mobile" data-aos="fade" data-aos-delay="400">
            <span *ngIf="content.oneDayIntroEn" [innerHtml]="content.fourDayObjEn | linebreak"></span>
            <span *ngIf="content.oneDayIntroTm" [innerHtml]="content.fourDayObjTm | linebreak"></span>
            <span *ngIf="content.oneDayIntroHi" class="hi" [innerHtml]="content.fourDayObjHi | linebreak"></span>
        </div>

        <div class="column is-full center">

            <a href="{{content.fourDayfacGuide.url}}" class="link">
                <app-localized en="View the Facilitation Plan" tm="வழி நடத்துதளுக்கான கையேட்டை காண்க"
                    hi="lqfo/kk ;kstuk ns[ksa">
                </app-localized>
            </a>

        </div>
    </section>

    <section id="stories">

        <div class="columns is-multiline is-mobile is-center is-9-desktop offset no-pad">
            <h3 class="center column is-full" data-aos="fade-left">
                <app-localized en="Our Trainers' Stories" tm="எங்கள் பயிற்சியாளர்கள் கதைகள்"
                    hi="gekjs çf'k{kdksa dh dgkfu;k¡">
                </app-localized>
            </h3>
            <div class="column columns is-mobile is-full-mobile is-full-tablet is-5-desktop" data-aos="fade-up"
                data-aos-delay="100">
                <div class="column is-2 no-pad">
                    <svg viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50" fill="#4A90E2" />
                        <path fill="#E14826" stroke="#FECF0A" stroke-width="2"
                            d="M45.01 68h1V52.291H34.908c.017-1.386.187-2.607.496-3.672.316-1.091.83-2 1.536-2.746.723-.764 1.715-1.375 3.02-1.805l.01-.003.011-.004c1.29-.458 2.955-.704 5.03-.704h1V32h-1c-3.845 0-7.151.556-9.884 1.71l-.005.003c-2.657 1.138-4.844 2.672-6.53 4.616-1.672 1.925-2.867 4.14-3.586 6.634l-.003.01C24.332 47.385 24 49.906 24 52.53V68h21.01zM75 68h1V52.291H64.896c.018-1.386.187-2.607.496-3.672.314-1.081.84-1.985 1.575-2.731l.008-.008.007-.007c.727-.769 1.705-1.379 2.973-1.807l.008-.003.007-.002c1.288-.458 2.955-.704 5.03-.704h1V32h-1c-3.846 0-7.152.556-9.885 1.71l-.004.003c-2.658 1.138-4.845 2.672-6.532 4.616-1.67 1.925-2.866 4.14-3.585 6.634l-.003.01c-.669 2.412-1.002 4.933-1.002 7.557V68H75z" />
                    </svg>
                </div>
                <div class="column story no-pad" [class.hi]="useHindi" [innerHtml]="content.story1.html"></div>
            </div>

            <div class="column columns is-mobile is-full-mobile is-full-tablet is-5-desktop is-offset-1-desktop"
                data-aos="fade-up" data-aos-delay="300">

                <div class="column is-2 no-pad">
                    <svg width="100" height="100" fill="none" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50" fill="#E14826" />
                        <path fill="#FECF0A" stroke="#3E5BA8" stroke-width="2"
                            d="M45.01 68h1V52.291H34.908c.017-1.386.187-2.607.496-3.672.316-1.091.83-2 1.536-2.746.723-.764 1.715-1.375 3.02-1.805l.01-.003.011-.004c1.29-.458 2.955-.704 5.03-.704h1V32h-1c-3.845 0-7.151.556-9.884 1.71l-.005.003c-2.657 1.138-4.844 2.672-6.53 4.616-1.672 1.925-2.867 4.14-3.586 6.634l-.003.01C24.332 47.385 24 49.906 24 52.53V68h21.01zM75 68h1V52.291H64.896c.018-1.386.187-2.607.496-3.672.314-1.081.84-1.985 1.575-2.731l.008-.008.007-.007c.727-.769 1.705-1.379 2.973-1.807l.008-.003.007-.002c1.288-.458 2.955-.704 5.03-.704h1V32h-1c-3.846 0-7.152.556-9.885 1.71l-.004.003c-2.658 1.138-4.845 2.672-6.532 4.616-1.67 1.925-2.866 4.14-3.585 6.634l-.003.01c-.669 2.412-1.002 4.933-1.002 7.557V68H75z" />
                    </svg>
                </div>
                <div class="column story no-pad" [class.hi]="useHindi" [innerHtml]="content.story2.html"></div>
            </div>
        </div>
    </section>
</div>
