@import "~src/styles/_variables";

section {

    line-height: 1.33;

    &#intro {
        margin-top: 5%;
    }
    
    &#content {
        color: $french-blue;
        margin-top: 3%;

        // @include pxtoem(12, 18);
        font-family: 'Avenir';
        font-weight: 500;
                
        line-height: 1.33;
        letter-spacing: 1px;

        h3 {
            font-family: 'AvenirBold';
            font-weight: bold;
            
            font-size: 2.7em;
            
            line-height: 1.06;
            color: $dark-sky-blue; 
            text-transform: uppercase; 
            
            p {
                font-size: .75em;
                text-transform: capitalize;
            }      
        }
        
        h5 {
            font-family: 'AvenirDemi';
            font-size: 2.3em;
            
  line-height: 1.24;
  letter-spacing: 1px;

  margin-top: 0;
        }

        hr {
            border-bottom: solid 2px $brownish-red;
            width: 100%;

            margin-top: 5%;
            margin-bottom: 5%;
        }

    }


}
