@import "~src/styles/_variables";

section {

    line-height: 1.33;

    &#intro {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    &#content {

        .all {
            display: flex;

            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            text-align: center;
            background-color: $tomato;

            padding-left: 7%;
            padding-right: 7%;

            strong {
                @include pxtoem(36, 48);
                text-transform: uppercase;
            }
            a {
                max-width: 280px;
            }
        }

        .guide {
            h3 {
                @include pxtoem(24, 36);
                
            line-height: 1.06;
            color: $dark-sky-blue;

            margin-bottom: 40px;
            }
            a {
                display: block;

                ::ng-deep img {

                }
                &:hover {

                }
                .hover {
                
                    background-color: rgba(74, 144, 226, 0.5);


                }
            }
        }
    }

}