@import '../../styles/_variables';

footer {
    background-color: white;
    color: black;

    #logos {
        cdn-image {
            &:nth-child(2) {
                margin-left: 25px;
            }
        }

        @include phones {
            margin-top: 10%;

            #el {
                ::ng-deep img {
                    max-width: 43px !important;
                }
            }
        }
    }

    #version {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: .7em;
    }
}
