<footer [class.home]="isHome">
    <section class="columns is-mobile is-multiline no-margin">
        <div id="logos" class="column is-full no-pad">
            <a href="https://elab.emerson.edu">
                <cdn-image cloudinaryId="logos/elab-logo-white" svg="true" width="170" alt="Engagement Lab logo" aria-role="image"></cdn-image>
            </a>
            <a href="http://www.mactindia.org/">
                <cdn-image cloudinaryId="logos/mact-logo-white" svg="true" width="120" alt="Mary Anne Charitable Trust logo" aria-role="image"></cdn-image>
            </a>
            <a href="https://www.ubs.com/microsites/optimus-foundation/en.html">
                <cdn-image cloudinaryId="logos/ubs-logo-white" svg="true" width="144" alt="UBS Optimus Foundation logo" aria-role="image"></cdn-image>
            </a>
        </div>

    </section>
</footer>