<footer [class.home]="isHome">
    <section class="container desktop columns is-mobile is-multiline no-margin">
        <div id="logo" class="column is-half-mobile is-5-tablet is-one-quarter-desktop">
            <a href="https://elab.emerson.edu">
                <cdn-image cloudinaryPrefix="logos/" cloudinaryId="logo-sm" width="70" alt="Engagement Lab small logo" aria-role="image"></cdn-image>
            </a>
        </div>

        <div id="version">
            v0.2.0
        </div>
    </section>
</footer>