@import '../../styles/_variables';

footer {
    color: black;
    padding-left: 4%;
    padding-top: 5%;
    
    #logo {
        
        @include phones {
            margin-top: 10%;
            
            ::ng-deep img {
                max-width: 40px !important;
            }
        }
    }
    
    #version {
        
        position: absolute;
        bottom: 0;
        right: 1%;
        font-size: .5em;
        font-weight: 100;
        
    }
    
    &.home {
        background-color: white;
    }
}
