<footer class="columns is-mobile is-multiline no-margin">
    <section class="container desktop">
        <div id="logos" class="column is-full-mobile is-5-tablet is-one-quarter-desktop">
            <a href="https://elab.emerson.edu">
                <cdn-image cloudinaryPrefix="logos/" cloudinaryId="logo-sm" width="70" alt="Engagement Lab small logo" aria-role="image"></cdn-image>
            </a>
        </div>

        <div id="version">
            v2.1.0
        </div>
    </section>
</footer>
