

// COLORS
$goldenrod: #fecf0a;
$brownish-red: #953620;
$french-blue: #3e5ba8;
$tomato: #e14826;
$dark-sky-blue: #4a90e2;
$greenish-tan: #b4d66e;
$tomato-two: #ee4824;
$ugly-purple: #9a3995;

// MQ config
$mq-breakpoints: (
    mobile:  320px,
    mobileLg:  425px,
    tabletPortrait:  768px,
    tablet:  1024px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
);
$mq-show-breakpoints: (mobile, mobileLg, tabletPortrait, tablet, desktop, wide);

@import "~sass-mq/_mq";

// CDN CONFIG
$cloudinary-account: 'engagement-lab-home';
$cdn-product: 'chhota-bheem';

// FONT CONFIG
$base-font-size: 24;
$base-font-size-mobile: 18;

@mixin pxtoem($mobile, $desktop: $base-font-size) {
    font-size: ($desktop / $base-font-size) + em;
    @include mq($until: tabletPortrait) {
        font-size: ($mobile / $base-font-size-mobile) + em;
    }
}

@font-face {
    font-family: 'AvenirHeavy';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Heavy.woff2') format('woff2'), /* Super modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Heavy.woff') format('woff'), /* Modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'AvenirBold';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Bold.woff2') format('woff2'), /* Super modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Bold.woff') format('woff'), /* Modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'AvenirDemi';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-DemiBold.woff2') format('woff2'), /* Super modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-DemiBold.woff') format('woff'), /* Modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-DemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Avenir';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Medium.woff2') format('woff2'), /* Super modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Medium.woff') format('woff'), /* Modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/AvenirNext-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Kruti';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/chhota-bheem/fonts/kruti_dev_010-webfont.woff2') format('woff2'), /* Super modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/chhota-bheem/fonts/kruti_dev_010-webfont.woff') format('woff'), /* Modern browsers */
         url('https://res.cloudinary.com/engagement-lab-home/raw/upload/chhota-bheem/fonts/kruti_dev_010-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// Mixins 
@import '../../node_modules/@engagementlab/el-scss/bundle';