// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

// Site vars
@import "./variables";

body {
    font-family: 'AvenirBold';
    font-size: 14px;
    color: white;

    background-color: $goldenrod;

    // @include mobile-only {
    //     font-size: 16px;
    // }

}

// GLOBAL STYLING
a {
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.small {
    font-size: small;
}

.xx-large {
    font-size: xx-large;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.no-pad {
    padding: 0;
}

.hidden {
    display: none;
}

.hidden-desktop {
    @include mq($from: tablet) {
        display: none;
    }
}

.hidden-tablet-plus {
    @include mq($from: tabletPortrait) {
        display: none;
    }
}

.hidden-mobile {
    @include mobile-only {
        display: none;
    }
}

.hidden-not-mobile {
    @include mq($from: mobileLg) {
        display: none;
    }
}
