// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

// Site vars
@import "./variables";

body {

    font-family: 'AvenirBold';
    font-size: 24px;
    color: white;

    background-color: $goldenrod;

    overflow-x: hidden;

    @include mobile-only {
        font-size: 18px;
    }

}

// GLOBAL STYLING
a,
a:visited {

    text-decoration: none;

    &.link {
        font-family: 'AvenirBold';

        display: inline-block;
        cursor: pointer;

        @include pxtoem(14, 18);
        color: $brownish-red;

        line-height: 2.56;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;

        margin-top: 5%;

        span {
            border-bottom: solid 2px $tomato;
        }
    }

    &.blue {
        @include pxtoem(14, 18);

        display: inline-flex;
        text-transform: uppercase;
        align-items: center;

        line-height: 1.17;

        color: white;
        background-color: $dark-sky-blue;

        padding: 5%;
        margin-top: 7%;

        border: 4px solid $dark-sky-blue;

        @include transition(all, .3s, ease-in-out);
        @include border-radius(150px);
        @include box-shadow(0, 0, 20px, rgba(0, 0, 0, 0.2));

        &:hover {
            border-color: $dark-sky-blue;

            background-color: white;
            color: $dark-sky-blue;

            @include box-shadow(0, 0, 40px, rgba(0, 0, 0, 0.2));
        }

        &.download {
                
                &.zip {
            &:after {
                content: "ZIP";
            }
                }

            &:after {
                content: "PDF";
                font-size: 14px;
                margin-left: 33px;

                border: 2px solid white;
                @include border-radius(50%);

                display: inline-flex;
                width: 50px;
                height: 50px;

                justify-content: center;
                justify-items: center;
                flex-direction: column;
                text-align: center;

                transform: translate(-8%, 0);
            }

            &:hover {

                &:after {
                    color: white;
                    background-color: $dark-sky-blue;
                }
            }
        }
    }

}

h1 {

    text-shadow:
        -2px -2px 0 $greenish-tan,
        2px -2px 0 $greenish-tan,
        -2px 2px 0 $greenish-tan,
        2px 2px 0 $greenish-tan;
    color: $french-blue;

    @include pxtoem(24, 48);

    line-height: 1.21;
    letter-spacing: 10px;
    text-transform: uppercase;

    &:before {
        white-space: pre-line;
        position: absolute;
        color: $tomato-two;
        -webkit-text-stroke: 2px $tomato-two;
        @include translate(-4px, 3px);

        z-index: -2;
    }

    @include mobile-only {
        line-height: 1.58;
        letter-spacing: 4px;
        text-shadow:
            -1px -1px 0 $greenish-tan,
            1px -1px 0 $greenish-tan,
            -1px 1px 0 $greenish-tan,
            1px 1px 0 $greenish-tan;

        &:before {
            -webkit-text-stroke: 1px $tomato-two;
            @include translate(-2px, 2px);
        }
    }
}

h2 {
    @include pxtoem(24, 36);
    line-height: 1;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: white;

    @include mobile-only {

        line-height: 2;
        letter-spacing: 4px;

    }
}

h4 {

    font-weight: bold;
    line-height: 1.92;
    letter-spacing: 2px;
    color: $french-blue;

    text-transform: uppercase;

    margin-top: 1%;

    @include mobile-only {
        font-size: 1em;
    }

}

hr {
    border: 1px solid $brownish-red;
    width: 90%;
}

.center {
    text-align: center;
}

.hi {
    font-family: Kruti;
}

// Other styles
#intro {

    h4 {
        margin-top: 14%;
        letter-spacing: 1px;
        text-transform: none;
        font-weight: 200;
    }

}

.is-multiline-mobile {

    @include mobile-only {
        flex-wrap: wrap;
    }

}

.no-pad-mobile {
    @include mobile-only {
        padding: 0;
    }
}

.offset {

    margin-left: 180px;
    margin-right: 180px;

    @include until-tablet-wide {
        margin-left: 90px;
        margin-right: 90px;
    }

    @include phones {
        margin-left: 10px;
        margin-right: 10px;
    }


}

.subheader {

    @include pxtoem(14, 18);
    letter-spacing: 10px;
    color: $tomato;
    text-transform: uppercase;

}

.seperator {

    display: block;
    background-color: $brownish-red;
    width: 3px;
    height: 300px;
    margin-top: 5%;

}

.view {

    @include pxtoem(14, 18);
    display: inline-flex;
    color: white;
    line-height: 2.56;

    background-color: $brownish-red;

    margin-top: 4.9%;

    justify-content: center;
    text-transform: uppercase;

    flex-direction: column;
    text-align: center;

    width: 293px;
    height: 94px;

    @include mobile-only {
        width: 200px;
        height: 60px;
    }

    @include transition(background-color, .3s, ease-in-out);
    @include box-shadow(0, 0, 20px, rgba(0, 0, 0, 0.2));

    &:hover {
        background-color: $tomato;
    }
}

// Verticle seperator Aaim
[data-aos="seperator-fade"] {
    transform: scaleY(0);
    transform-origin: top;

    transition-property: transform, opacity;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;

    &.aos-animate {
        transform: scaleY(1);
        opacity: 1;
    }
}


// Horizontal seperator Aaim
[data-aos="seperator-width"] {
    width: 0;
    @include transition(all, 1s, ease-in-out);

    &.aos-animate {
        width: 100%;
    }
}
