// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

// Site vars
@import "./variables";

body {
    font-family: 'AvenirBold';
    font-size: 14px;
    color: white;

    background-color: $goldenrod;

    // @include mobile-only {
    //     font-size: 16px;
    // }

}

// GLOBAL STYLING
a {
    text-decoration: none;

    &.blue {
        display: block;
        font-size: 1.7em;    
        text-transform: uppercase;
        
        line-height: 1.17;
        color: $dark-sky-blue;
        
        margin-top: 7%;
        
        &.download {
            &:after {
                content: "PDF";
                font-size: .6em;
                margin-left: 5%;
                @include border-radius(50%);
                border: 2px solid $dark-sky-blue;
                
                display: inline-flex;
                width: 50px;
                height: 50px;
                
                justify-content: center;
                justify-items: center;
                flex-direction: column;
                text-align: center;
                
                transform: translateY(-8%);
            }
        }
    }
}
h2 {
    font-size: 2.55em;
    line-height: 1;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: white;
}
h4 {

  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.92;
  letter-spacing: 2px;
  color: $french-blue;

  text-transform: uppercase;

  margin-top: 1%;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

// Other styles

.subheader {

  letter-spacing: 4px;
  color: $tomato;
  text-transform: uppercase;

}


.seperator {

    display: block;
    background-color: $brownish-red;
    width: 3px;
    height: 300px;
    margin-top: 5%;

    // @include not-phones {
    //     width: 4px;
    //     height: 100px;
    //     margin-top: -50px;
    // }
}