<h2 class="column is-half-mobile is-full-tablet no-pad">Collaborate and work with us</h2>
<h3 class="column is-full-mobile is-8-tablet no-pad">{{content?.blurb}}</h3>

<section id="portfolio" *ngIf="content !== undefined">

    <div class="columns is-mobile is-centered">
        <div class="column is-two-fifths-mobile">
            <div class="icon tomato">
                <cdn-image cloudinaryId="contact/student-icon" width="100" alt="Students and Researchers icon image"
                    aria-role="img"></cdn-image>
            </div>
            <h3>Students and Researchers</h3>
            {{content?.students}}
            <div class="link">
                <a routerLink="/masters" class="animate">Find out more</a>
            </div>
        </div>

        <div class="column is-two-fifths-mobile">
            <div class="icon gb">
                <cdn-image cloudinaryId="contact/partner-icon" width="100" alt="Community Partners icon image"
                    aria-role="img"></cdn-image>
            </div>
            <h3>Community Partners</h3>
            {{content?.community}}
            <div class="link">
                <a (click)="scrollToBottom()" class="animate">Get in touch</a>
            </div>
        </div>
    </div>

</section>

<section id="donate" class="columns">

    <div id="icons" class="column is-one-quarter-tablet">
        <cdn-image id="pig" cloudinaryId="contact/piggybank-icon" width="140" alt="Piggybank icon image" aria-role="img"></cdn-image>
        <cdn-image id="bg" cloudinaryId="contact/piggybank-bg" width="324" alt="Piggybank background image" aria-role="img"></cdn-image>
    </div>

    <h2 class="column is-5-tablet">Donate to help support the Lab</h2>

    <div id="btn" class="column">
        <app-button label="donate" href="https://www.emerson.edu/support-emerson/give" ariaLabel="Go to page to donate to the Lab"
            class="white"></app-button>
    </div>

</section>

<hr class="thick" />

<h4 class="uppercase">Get in Touch</h4>

<div id="bottom" class="columns">
    <h3 class="column is-half">

        Engagement Lab
        <p>
            160 Boylston St.<br />
            Boston, MA 02116
        </p>

        <p>

            t&nbsp;&nbsp;&nbsp;+ 1 617 824 3030<br />
            e&nbsp;
            <span class="hidden-desktop">engagementlab<br />&nbsp;&nbsp;&nbsp;&nbsp;@emerson.edu</span>
            <span class="hidden-mobile">engagementlab@emerson.edu</span>

        </p>

    </h3>

    <h2 id="links" class="column is-half">

        You can keep up to date by following us on <a href="https://twitter.com/engagelab" role="link">Twitter</a>,
        <a href="https://www.facebook.com/EngagementLab" role="link">Facebook</a>,
        and <a href="https://www.instagram.com/engagelab" role="link">Instagram</a>.
        You can also check out our blog on <a href="https://medium.com/engagement-lab-emerson-college" role="link">Medium</a>.

    </h2>
</div>
