@import "~src/styles/_variables";

nav {
    position: relative;
    padding-top: 0;
    margin-bottom: 0 !important;
    z-index: 4;

    a {
        line-height: 5.43;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: $brownish-red;
    }

    #right {
        text-align: right;
    }

}