<nav class="container desktop columns is-mobile is-multiline-mobile" id="nav">    
    
    <div id="menu-btn" class="column">
        <a (click)="openCloseNav()" class="columns uppercase">
            <div id="lines" class="column is-one-quarter">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="label" class="column">
                <div class="open"><app-localized en="Menu" tm="Menu" hi="esuw"></app-localized></div>
            </div>
        </a>
    </div>

    <div id="home" class="column is-one-third-mobile center no-pad">
        <a routerLink="/" queryParamsHandling="merge">
            <cdn-image cloudinaryId="logos/logo" width="268" svg="true"></cdn-image>
        </a>
    </div>

    <div id="right" class="link column is-one-third-mobile is-one-third-tablet no-pad">
        <div id="wrap">Language
        <div>
            <a href="" [class.current]="currentLang === undefined">en</a>
            <a href="?tm" [class.current]="currentLang === 'tm'">tm</a>
            <a href="?hi" [class.current]="currentLang === 'hi'">hi</a>
        </div>    
        </div>
    </div>

</nav>
