@import "~src/styles/_variables";

nav {

    position: relative;
    padding-top: 0;
    margin-bottom: 0 !important;
    z-index: 4;

    a {
        line-height: 5.43;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: $brownish-red;

        font-size: em(14px);

        @include mobile-only {
            line-height: 1.43;
        }
    }

    #right {
        text-align: center;

        @include desktop {
            text-align: right;
        }
    }

    @include mobile-only {
        a {
            line-height: 1.43;
        }

        .column {
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
            display: flex;
        }

        #home ::ng-deep img {
            max-width: 100px !important;
        }
    }

}
