<div class="column is-9-desktop offset no-pad" *ngIf="hasContent">
    <section id="intro" class="is-10-mobile is-full-desktop column columns is-mobile no-margin is-multiline">

        <div class="subheader column is-full center" data-aos="fade-up">{{content.subtitle}}</div>

        <h1 class="column is-full center" [attr.data-name]="content.name" data-aos="fade-left" data-aos-delay="300">{{content.name}}</h1>

    </section>

    <section id="content" class="columns column is-mobile is-multiline is-full">

        <div class="column is-5-tablet center" *ngIf="!isPhone">

            <cdn-image data-aos="fade" data-aos-offset="-100" cloudinaryPrefix="/" cloudinaryId="{{content.photo.public_id}}"
                width="500" autoFormat="true"></cdn-image>

        </div>

        <div class="content column columns is-full-mobile is-full-tablet is-5-desktop is-offset-1-desktop is-multiline">

            <cdn-image data-aos="fade" data-aos-offset="-100" cloudinaryPrefix="/" cloudinaryId="{{content.photo.public_id}}"
                width="300" autoFormat="true" *ngIf="isPhone"></cdn-image>

            <div id="description" data-aos="fade-left" [innerHtml]="content.description.html"></div>
        </div>


    </section>
</div>

<section class="column columns is-full is-centered">

    <div id="prev" class="column is-full-mobile is-5-tablet" *ngIf="prev">

        <a routerLink="/stories/{{prev.key}}" class="blue">

            <cdn-image data-aos="fade" cloudinaryPrefix="/" cloudinaryId="{{prev.photo.public_id}}" width="300"
                autoFormat="true"></cdn-image>
            <div data-aos="fade-up">
                {{prev.name}} </div>
        </a>


    </div>

    <div id="next" class="column is-full-mobile is-5-tablet" *ngIf="next">

        <a routerLink="/stories/{{next.key}}" class="blue">
            <cdn-image data-aos="fade" cloudinaryPrefix="/" cloudinaryId="{{next.photo.public_id}}" width="300"
                autoFormat="true"></cdn-image>
            <div data-aos="fade-up">
                {{next.name}}</div>
        </a>

    </div>
</section>
