@import "~src/styles/_variables";


#intro {

    margin-top: 20%;

    h1 {
        margin-top: 0;
        &:before {
            content: attr(data-name);
        }
    }
    
}

h5 {

    @include pxtoem(24, 48);
    text-transform: uppercase;

    line-height: 1.17;
    color: $dark-sky-blue;

    margin-bottom: 0;
    @include not-phones {
        margin-top: 0;
    }

}

.a {

    text-align: center;

}

#description {

    @include pxtoem(12, 18);
    font-family: 'Avenir';
    font-weight: 500;
    line-height: 1.33;
    color: $french-blue;

}

#next-prev {
    justify-content: space-evenly;

    a > div {
        margin-top: 7%;
    }
}