<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1062.0,366.0}</string>
        <key>name</key>
        <string>snakes_movement_2</string>
        <key>textureFileName</key>
        <string>snakes_movement_2-0001-default.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{96.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{96.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{96.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,2.0},{96.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{83.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{83.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{83.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{330.0,2.0},{83.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{70.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{70.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{70.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{415.0,2.0},{70.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{70.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{70.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{70.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{487.0,2.0},{70.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{85.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{85.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{85.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{559.0,2.0},{85.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{96.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{96.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{96.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{646.0,2.0},{96.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{85.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{85.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{85.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{744.0,2.0},{85.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_7.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{70.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{70.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{70.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{831.0,2.0},{70.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_8.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{70.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{70.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{70.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{903.0,2.0},{70.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_9.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{83.0,360.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{83.0,360.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{83.0,360.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{975.0,2.0},{83.0,360.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
