<h2 class="column is-half no-pad">The Engagement Lab at Emerson College</h2>
<h3 class="column is-full-mobile is-7-tablet no-pad blurb">{{about?.missionStatement}}</h3>

<div class="column is-full">
    <hr />
</div>

<!-- Mobile-only -->
<section class="columns is-centered is-mobile is-multiline" *ngIf="about !== undefined && isPhone">
    <div class="column is-two-fifths-mobile is-half-mobile">
        {{about?.summary1}}
        <cdn-image cloudinaryPrefix="/" cloudinaryId="{{about.images[0].public_id}}" autoFormat=true width="450" alt="About flavor image 1"
            aria-role="img"></cdn-image>
    </div>

    <div class="column is-two-fifths-mobile">
        <cdn-image cloudinaryPrefix="/" cloudinaryId="{{about.images[1].public_id}}" autoFormat=true width="450" alt="About flavor image 2"
            aria-role="img"></cdn-image>
        {{about?.summary2}}
    </div>
</section>

<!-- Tablet/desktop-only -->
<section class="columns is-multiline summary" *ngIf="about !== undefined && !isPhone">
    <div class="column is-5 ">
        {{about?.summary1}}
    </div>
    <div class="column is-4 is-offset-1">
        <cdn-image cloudinaryPrefix="/" cloudinaryId="{{about.images[0].public_id}}" autoFormat=true width="140" height="217"
            gravity="faces" crop="lfill" alt="About flavor image 1" aria-role="img"></cdn-image>
    </div>

    <div class="column is-5">
        <cdn-image cloudinaryPrefix="/" cloudinaryId="{}" autoFormat=true width="250" height="407" alt="" aria-role="img"></cdn-image>

        <cl-image responsive public-id="{{about.images[1].public_id}}" secure="true" width="250" height="407"
            fetch-format="auto" crop="fill" gravity="center" attr.alt="About flavor image 2" class="cdn-image" *ngIf="isTablet">
            <cl-transformation attr.quality="100"></cl-transformation>
        </cl-image>


        <cdn-image cloudinaryPrefix="/" cloudinaryId="{{about.images[1].public_id}}" autoFormat=true width="450" alt="About flavor image 2"
            aria-role="img" *ngIf="!isTablet"></cdn-image>
    </div>
    <div class="column is-4 is-offset-1">
        {{about?.summary2}}
    </div>
</section>

<section id="portfolio" *ngIf="about !== undefined">

    <div class="columns is-mobile is-centered is-multiline">
        <div class="column is-two-fifths-mobile">
            <div class="icon tomato">
                <cdn-image cloudinaryId="about/research-icon" width="100" alt="Research icon image" aria-role="img"></cdn-image>
            </div>
            <h3>Research</h3>
            {{about?.research}}
        </div>

        <div class="column is-two-fifths-mobile">
            <div class="icon gb">
                <cdn-image cloudinaryId="about/workshop-icon" width="100" alt="Workshops icon image" aria-role="img"></cdn-image>
            </div>
            <h3>Workshops</h3>
            {{about?.workshops}}
        </div>

        <div class="column is-two-fifths-mobile">
            <div class="icon mango">
                <cdn-image cloudinaryId="about/tools-icon" width="100" alt="Tools icon image" aria-role="img"></cdn-image>
            </div>
            <h3>Tools</h3>
            {{about?.tools}}
        </div>

        <div class="column is-two-fifths-mobile">
            <div class="icon tomato">
                <cdn-image cloudinaryId="about/teaching-icon" width="100" alt="Teaching icon image" aria-role="img"></cdn-image>
            </div>
            <h3>Teaching</h3>
            {{about?.teaching}}
        </div>

        <div class="column is-two-fifths-mobile">
            <div class="icon gb">
                <cdn-image cloudinaryId="about/design-icon" width="100" alt="Design icon image" aria-role="img"></cdn-image>
            </div>
            <h3>Design</h3>
            {{about?.design}}
        </div>

        <!-- Empty -->
        <div class="column is-two-fifths-mobile is-one-third-tablet"></div>
    </div>

</section>

<section id="team">

    <people-grid [people]="people" [preview]="true"></people-grid>

</section>

<section id="partners">

    <hr />
    <h1 class="uppercase">our funders</h1>
    <div class="columns is-mobile is-multiline">

        <div class="column is-2-mobile" *ngFor="let partner of partners">
            <a href="{{partner.url}}">
                <cdn-image cloudinaryId="{{partner.image.public_id}}" cloudinaryPrefix="/" effect="grayscale" width="50"
                    autoFormat="true" alt="{{partner.name}} logo image" aria-role="img"></cdn-image>

            </a>

        </div>
    </div>

</section>
