@import "~src/styles/_variables";

h2 {

    font-size: 2.25em;

    @include not-phones {
        font-size: 3.1em;
    }

}

.summary {

    font-size: 1.55em;
    line-height: 1.29;
    letter-spacing: 0.3px;

    @include not-phones {
        div {
            &:nth-child(2) {
                ::ng-deep img {
                    @include transform(translateY(-12%));
                }
            }
            &:nth-child(3) {
                ::ng-deep img {
                    @include desktop {
                        @include transform(translateY(-22%));
                    }
                    @include transform(translateY(32%));
                }
            }
        }
    }
}

#portfolio {

    @include not-phones {
        .column {
            flex-basis: 30%;
        }
    }

    .icon {
        max-width: 100px;
    }

}

#team {

    background-color: black;
    color: white;

    margin-top: 10%;
    
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    
}

#partners {
    
    margin-top: 20%;
    justify-content: space-evenly;
    
    @include not-phones { 
        margin-top: 10%;
        .column {
            flex: none;

            width: 6%;
            margin-left: 4%;
            margin-right: 4%;
        }
    }

}