<div class="column is-center is-9-desktop offset no-pad">
    <section id="intro" class="is-10-mobile is-5-desktop column is-mobile no-margin" *ngIf="hasContent">

        <div class="subheader" data-aos="fade-up">
            <app-localized en="About" tm="முகப்பு"></app-localized>
        </div>

        <h4 data-aos="fade-left" data-aos-delay="200">
            <app-localized en="{{content.intro}}" tm="{{content.introTm}}"></app-localized>            
        </h4>

    </section>

    <section id="content" class="columns column is-mobile is-multiline-mobile is-full" *ngIf="hasContent">

        <div class="column is-10-mobile is-half-tablet">

            <div data-aos="fade" data-aos-delay="400" *ngIf="content.para1">{{content.para1}}</div>
            <div data-aos="fade" data-aos-delay="400" *ngIf="content.para1Tm">{{content.para1Tm}}</div>

            <cdn-image data-aos="fade" data-aos-delay="400" cloudinaryPrefix="/" cloudinaryId="chhota-bheem/photos/about_1"
                width="500" autoFormat="true" *ngIf="!isPhone"></cdn-image>
            <cdn-image data-aos="fade" data-aos-delay="600" data-aos-offset="-200" cloudinaryPrefix="/" cloudinaryId="chhota-bheem/photos/about_2"
                width="500" autoFormat="true" *ngIf="!isPhone"></cdn-image>

            <cdn-image data-aos="fade" data-aos-delay="400" cloudinaryPrefix="/" cloudinaryId="chhota-bheem/photos/about_3"
                width="300" autoFormat="true" *ngIf="isPhone"></cdn-image>
            <cdn-image data-aos="fade" data-aos-delay="600" data-aos-offset="-200" cloudinaryPrefix="/" cloudinaryId="chhota-bheem/photos/about_4"
                width="300" autoFormat="true" *ngIf="isPhone"></cdn-image>

        </div>
        <div class="column is-10-mobile is-half-tablet">

            <cdn-image id="top" data-aos="fade" data-aos-delay="400" cloudinaryPrefix="/" cloudinaryId="chhota-bheem/photos/about_3"
                width="500" autoFormat="true" class="no-margin" *ngIf="!isPhone"></cdn-image>
            <cdn-image id="bottom" data-aos="fade" data-aos-delay="600" data-aos-offset="-200" cloudinaryPrefix="/"
                cloudinaryId="chhota-bheem/photos/about_4" width="500" autoFormat="true" *ngIf="!isPhone"></cdn-image>
 
            <div data-aos="fade" data-aos-delay="400" *ngIf="content.para2">{{content.para2}}</div>
            <div data-aos="fade" data-aos-delay="400" *ngIf="content.para2Tm">{{content.para2Tm}}</div>

            <cdn-image data-aos="fade" data-aos-delay="400" cloudinaryPrefix="/" cloudinaryId="chhota-bheem/photos/about_1"
                width="300" autoFormat="true" *ngIf="isPhone"></cdn-image>
            <cdn-image data-aos="fade" data-aos-delay="600" cloudinaryPrefix="/" cloudinaryId="chhota-bheem/photos/about_2"
                width="300" autoFormat="true" *ngIf="isPhone"></cdn-image>
        </div>
    </section>
</div>
