
@import '../styles/_variables';

#qa-build {
	position: fixed;
	bottom: 100%;
	left: 0;
	right: 0;
	color: white;
	background-color: $tomato;
	text-align: center;
	font-weight: bold;
	font-size: large;
	z-index: 100;

	#text {
		font-size: xx-large;
	}
	span {
		vertical-align: top;
	}
	
}