<div id="menu">
<ul>
    <li>
        <a routerLink="/about" queryParamsHandling="merge" [class.current]="itemActive('about')"><app-localized en="About" tm="முகப்பு"></app-localized></a>
    </li>
    <li>
        <a routerLink="/stories" queryParamsHandling="merge" [class.current]="itemActive('stories')">
            <app-localized en="Stories from
            the field" tm="உண்மை கதைகள்"></app-localized>
        </a>
    </li>
    <li>
        <a routerLink="/workshops" queryParamsHandling="merge" [class.current]="itemActive('workshops')">
            <app-localized en="Workshops" tm=""></app-localized>
        </a>
    </li>
    <li>
        <a routerLink="/resources" queryParamsHandling="merge" [class.current]="itemActive('resources')">
            <app-localized en="Resources" tm=""></app-localized>
        </a>
    </li>
</ul>

<section id="language">

    <h3>Language</h3>
    <div>
        <a href="" [class.current]="currentLang === undefined">english</a>
        <a href="?tm" [class.current]="currentLang === 'tm'">தமிழ்</a>
        <a href="?hi" class="hi" [class.current]="currentLang === 'hi'">fganh</a>
    
    </div>
</section>


</div>

<div id="body">
    <app-nav></app-nav>

    <router-outlet></router-outlet>
    <app-footer></app-footer>

    <!-- QA Build Banner -->
    <div *ngIf="isQABuild === true" id="qa-build">

        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1544209738/homepage-2.0/qa-build.svg"
            style="max-width:50px" alt="QA Build icon" />
        <span id="text">QA BUILD</span>
        <div>Work in progress. Not intended for external use.</div>

    </div>
</div>
