@import '../styles/_variables';

$videoIconDim: 40px;

.summary {

    line-height: 1.42;
    letter-spacing: 1px;

}

#intro {
    padding-bottom: 4%;

    .subheader {
        @include pxtoem(12, 14);
    }

    h4 {
        margin-top: 1%;
        text-transform: uppercase;
    }

    .column,
    hr {
        @include mobile-only {
            margin-bottom: 25%;
        }
    }
}

#manual {

    padding-bottom: 7%;
    background-image: cdn-image('bg/red', f_auto);

    h2 {
        margin-top: 7%;
        margin-bottom: 4%;
        @include pxtoem(18, 36);
    }

    p {
        font-family: 'Avenir';
        @include pxtoem(14, 18);

    }

    @include mobile-only {
        padding-top: 22%;
        padding-bottom: 22%;

        #filler {
            width: 150px;
            height: 179px;
        }
    }

}

.module {

    padding-top: 15%;
    padding-bottom: 12%;

    @include mobile-only {
        margin-top: 22%;
        margin-bottom: 22%;
    }

    .subheader {
        @include pxtoem(14, 18);
    }

    .description {
        color: $french-blue;
    }

    .videos {
        margin-top: 10%;

        .subheader {
            letter-spacing: 10px;
        }

        a:hover {
            .icon {
                @include scale(1.2);
            }

            ::ng-deep img {
                @include filter(brightness, 90%);
            }
        }

        ::ng-deep img {
            @include transition(filter, .3s, ease-in-out);
        }

        .icon {
            @include transition(transform, .3s, ease-in-out);
            position: absolute;
            left: calc(50% - 40px);
            top: calc(50% - 40px);


            @include phones {
                left: calc(50% - 12px);
                top: calc(50% - 12px);
            }
        }
    }

    ::ng-deep img {
        width: 100%;
        max-width: 500px;

        @include phones {
            max-width: 200px;
        }
    }

    &#module1 {
        h1 {
            &.en {
                &:before {
                    content: 'Handwashing\Awith soap';
                }
            }

            &.tm {
                &:before {
                    content: 'சோப்பை\Aபயன்படுத்தி கைகழுவுதல்';
                    @include translate(-33%, 3px);

                    @include phones {
                        display: block;
                        @include translate(8%, 3px);
                    }
                }
            }
        }
    }

    &#module2 {
        h1 {
            &.en {
                &:before {
                    content: 'Toilet Use';
                }
            }

            &.tm {
                &:before {
                    content: 'கழிவறை பயன்படுத்துதல்';
                }
            }
        }
    }

}

#studies {

    padding-top: 13%;
    padding-bottom: 14%;

    background-image: cdn-image('bg/green', f_auto);

    a {
        margin-top: 10%;
    }

}

#download {

    background-color: $french-blue;
    color: white;

    h2 {
        color: white;

        @include mobile-only {
            line-height: 1.5;
        }
    }

    #store {
        margin-top: 10%;
    }

}
