<section id="intro" class="columns is-full is-mobile is-multiline-mobile no-margin">

    <div class="column is-11-mobile is-half-tablet center" data-aos="fade-up">
        <div class="subheader">
            <app-localized en="Module 1" tm="செய்முறை கையேடு 1" hi="e‚Mîwy 1"></app-localized>
        </div>

        <h4>
            <app-localized en="Handwashing with soap" tm="சோப்பை பயன்படுத்தி கைகழுவுதல்" hi="lkcqu ls gkFk /kksuk"></app-localized>
        </h4>
        <cdn-image cloudinaryId="art/module1" width="312" phoneWidth="201" svg="true"></cdn-image>
        <br />

        <a class="link" (click)="goToModule(1)">
            <app-localized en="view module" tm="செய்முறை கையேடுவை காண்க" hi="e‚Mîwy ns[ksa"></app-localized>
        </a>
    </div>

    <div class="seperator hidden-mobile" data-aos="fade-down" data-aos-delay="100"></div>
    <hr class="hidden-tablet-plus" data-aos="fade-up" data-aos-delay="100" />

    <div class="column center is-11-mobile" data-aos="fade-up" data-aos-delay="200">
        <div class="subheader">
            <app-localized en="Module 2" tm="செய்முறை கையேடு 2" hi="e‚Mîwy 2"></app-localized>
        </div>
        <h4>
            <app-localized en="Toilet use" tm="கழிவறை பயன்படுத்துதல்" hi="'kkSpky; dk iz;ksx"></app-localized>
        </h4>
        <cdn-image cloudinaryId="art/module2" width="277" svg="true"></cdn-image>
        <br />

        <a class="link" (click)="goToModule(2)">
            <app-localized en="view module" tm="செய்முறை கையேடுவை காண்க" hi="e‚Mîwy ns[ksa"></app-localized>
        </a>
    </div>
</section>

<section id="manual" class="columns is-multiline is-full is-mobile no-margin">

    <h2 class="column is-full center no-pad" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <app-localized en="Facilitator Guide" tm="ஒருங்கிணைப்பு கையேடு" hi="izf'k{kd ekxZnÆ'kdk"></app-localized>
    </h2>

    <div class="column is-11-mobile is-half-tablet center" data-aos="fade">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_412/v1551128693/chhota-bheem/art/manual.png"
            style="max-width:412px">

    </div>

    <div class="column is-11-mobile is-5-tablet is-4-desktop" data-aos="fade-left" *ngIf="files">
        <span class="summary">
            <strong>
                <app-localized en="Hygiene with Chhota Bheem is a play-based curriculum designed to raise awareness of and inculcate best
                practices for health and hygiene among young children."
                    tm="சோட்டா பீம்மும் சுகாதாரமும் என்பது குழந்தைகளுக்கு மத்தியில் சுத்தம் மற்றும் சுகாதாரத்திற்கான சிறந்த விழிப்புணர்வை ஏற்படுத்துவதற்காக வடிவமைக்கப்பட்ட ஒரு விளையாட்டு அடிப்படையிலான பாடத்திட்டமாகும்."
                    hi="NksVk Hkhe vkSj LoPNrk ,d [ksy vk/kkfjr ikBîØe gS] ftldh :ijs[kk NksVs cPpksa esa LokLF; vkSj LoPNrk ds ckjs esa tkx:drk iSnk djus vkSj vPNh vknrsa fodflr djus ds fy, cukbZ xbZ gSA">
                </app-localized>
            </strong>

            <p>
                <app-localized
                    en="Children immerse themselves in the world of Chhota Bheem and play hygiene games, activities, and even a mobile game based on the stories to defeat the fictional Germ Wizard. By completing activities and challenges children develop awareness and good hygiene habits, and join the ‘Bheem Team’ to help defeat the Germ Wizard in their own communities!"
                    tm="குழந்தைகள் சுகாதாரத்தை பேணிக்காப்பதற்கு செய்முறை, விளையாட்டுகள் மூலமாகவும் மற்றும் செயலி விளையாட்டுகள் மூலமாகவும் மேலும் அசுத்த மந்திரவாதியை விரட்டியடிப்பது போன்ற கதைகள் மூலமாகவும்  தங்களை தாங்களே சோட்டா பீமின் உலகத்தில் இணைத்துக்கொள்கின்றனர். இதுபோன்ற விளையாட்டுகளை விளையாடி, சவால்களை எதிர்கொள்ளும்போது சுத்தம் மற்றும் சுகாதாரம் பற்றிய விழிப்புணர்வு ஏற்படுகின்றது. மேலும் பீம் அணியுடன் சேர்ந்து அசுத்த மந்திரவாதியை தங்களது ஊர்களில் விரட்டியடிக்கும் வழிகாட்டியாக இக்கதைகள் விளங்குகின்றன."
                    hi="cPps NksVk Hkhe dh nqfu;k esa [kks tkrs gSa vkSj ,d dkYifud dhVk.kq QSykus okys tknwxj dks ijkftr djus ds fy, dgkfu;ksa ij vk/kkfjr LoPNrk [ksy [ksyrs gSa] xfrfof/k;ka djrs gSa vkSj ;gka rd fd ,d eksckby xse Hkh [ksyrs gSaA xfrfof/k;ksa vkSj pqukSfr;ksa dks iwjk djds cPps tkx:d gksrs gSa] LoPNrk dh vPNh vknrksa dks viukrs gSa] rFkk vius leqnk;ksa esa dhVk.kq QSykus okys tknwxj dks ijkftr djus esa enn djus ds fy, ^Hkhe Vhe^ esa 'kkfey gks tkrs gSa!">
                </app-localized>
            </p>
        </span>

        <a class="blue download en" routerLink="/resources/en" queryParamsHandling="merge"
            *ngIf="currentLang === undefined && files">Download<br />Complete Guide</a>
        <a class="blue download tm" routerLink="/resources/tm" queryParamsHandling="merge" *ngIf="currentLang === 'tm' && files.guideTm">ஒருங்கிணைப்பு
            கையேடு</a>
        <a class="blue download hi" routerLink="/resources/hi" queryParamsHandling="merge" *ngIf="currentLang === 'hi' && files.guideHi">iwjh xkbM MkmuyksM djsa</a>
    </div>

</section>

<section id="module1" class="module is-full is-mobile no-margin" *ngIf="modules !== undefined">
    <div class="columns is-multiline no-margin">
        <div class="column is-full is-mobile center no-pad">
            <div class="subheader" data-aos="fade-down" data-aos-delay="100">
                <app-localized en="Module 1" tm="கையேடு 1" hi="e‚Mîwy 1"></app-localized>
            </div>

            <h1 class="en" data-aos="fade-up" *ngIf="currentLang === undefined">Handwashing<br />with soap</h1>
            <h1 class="tm" data-aos="fade-up" *ngIf="currentLang === 'tm'">சோப்பை<br />பயன்படுத்தி கைகழுவுதல்</h1>
            <h1 class="hi" data-aos="fade-up" *ngIf="currentLang === 'hi'">lkcqu ls gkFk /kksuk</h1>
        </div>

        <div class="column is-full-tablet is-6-desktop center" data-aos="fade-right">
            <cdn-image cloudinaryId="art/module1-lg" svg="true"></cdn-image>
        </div>

        <div class="description column is-11-tablet is-4-desktop" data-aos="fade-left" data-aos-delay="250">
            <span class="summary" *ngIf="modules[0].summary">{{modules[0].summary}}</span>
            <span class="summary" *ngIf="modules[0].summaryTm">{{modules[0].summaryTm}}</span>
            <span class="summary hi" *ngIf="modules[0].summaryHi">{{modules[0].summaryHi}}</span>

            <a *ngIf="currentLang === undefined && modules[0].pdf" class="blue download" href="{{modules[0].pdf.url}}">Download
                Handwashing<br />with Soap Guide
            </a>
            <a *ngIf="currentLang === 'tm' && modules[0].pdfTm" class="blue download" href="{{modules[0].pdfTm.url}}">கையேடு
                1 பார்க்கவும்</a>
            <a *ngIf="currentLang === 'hi' && modules[0].pdfHi" class="blue download" href="{{modules[0].pdfHi.url}}">iwjh xkbM MkmuyksM djsa</a>
        </div>
    </div>

    <!-- Module videos -->
    <div class="videos columns is-multiline is-mobile no-margin"
        *ngIf="modules[0].videoThumbnailImages !== undefined && modules[0].videoThumbnailImages.length > 0">

        <div class="subheader column is-full-mobile is-10-tablet is-offset-1-tablet" data-aos="fade-down">
            <app-localized en="Videos" tm="ஒளிப்படங்கள்" hi="ohfM;ks"></app-localized>
        </div>
        <div class="video column is-4-tablet is-offset-1-tablet center" data-aos="zoom-out">
            <a href="{{modules[0].video1Url}}">
                <cdn-image cloudinaryPrefix="/"  cloudinaryId="{{modules[0].videoThumbnailImages[0].public_id}}"
                    width="453" autoFormat="true"></cdn-image>
                <span class="icon">
                    <cdn-image cloudinaryId="icons/video" width="80" phoneWidth="24" svg="true"></cdn-image>
                </span>

            </a>
        </div>
        <div class="column is-1 hidden-mobile"></div>
        <div class="video column is-4-tablet center" data-aos="zoom-out">
            <a href="{{modules[0].video2Url}}">
                <cdn-image cloudinaryPrefix="/"  cloudinaryId="{{modules[0].videoThumbnailImages[1].public_id}}"
                    width="453" autoFormat="true"></cdn-image>
                <span class="icon">
                    <cdn-image cloudinaryId="icons/video" width="80" phoneWidth="24" svg="true"></cdn-image>
                </span>
            </a>
        </div>
    </div>

</section>

<div class="columns no-margin hidden-mobile">
    <div class="column is-6 no-pad">
    </div>
    <div id="module-seperator" class="seperator" data-aos="seperator-fade"></div>
</div>

<section id="module2" class="module is-full is-mobile no-margin" *ngIf="modules !== undefined">

    <div class="columns is-multiline no-margin">
        <div class="column is-full is-mobile center no-pad">
            <div class="subheader" data-aos="fade-down" data-aos-delay="100">
                <app-localized en="Module 2" tm="கையேடு 2" hi="e‚Mîwy 2"></app-localized>
            </div>

            <h1 class="en" data-aos="fade-up" *ngIf="currentLang === undefined">Toilet Use</h1>
            <h1 class="tm" data-aos="fade-up" *ngIf="currentLang === 'tm'">கழிவறை பயன்படுத்துதல்</h1>
            <h1 class="hi" data-aos="fade-up" *ngIf="currentLang === 'hi'">'kkSpky; dk iz;ksx</h1>
        </div>

        <div class="column is-full-tablet is-6-desktop center" data-aos="fade-right">
            <cdn-image cloudinaryId="art/module2-lg" svg="true"></cdn-image>
        </div>

        <div class="description column is-11-tablet is-4-desktop" data-aos="fade-left" data-aos-delay="250">
            <span class="summary" *ngIf="modules[1].summary">{{modules[1].summary}}</span>
            <span class="summary" *ngIf="modules[1].summaryTm">{{modules[1].summaryTm}}</span>
            <span class="summary hi" *ngIf="modules[1].summaryHi">{{modules[1].summaryHi}}</span>

            <a *ngIf="currentLang === undefined && modules[1].pdf" class="blue download" href="{{modules[1].pdf.url}}">Download
                Toilet<br />Use Guide
            </a>
            <a *ngIf="currentLang === 'tm' && modules[1].pdfTm" class="blue download" href="{{modules[1].pdfTm.url}}">கையேடு
                2 பார்க்கவும்</a>
            <a *ngIf="currentLang === 'hi' && modules[1].pdfHi" class="blue download" href="{{modules[1].pdfHi.url}}">'kkSpky; iz;ksx dk xkbM MkmuyksM djsa</a>
        </div>
    </div>

    <!-- Module videos -->
    <div class="videos columns is-multiline is-mobile no-margin"
        *ngIf="modules[1].videoThumbnailImages !== undefined && modules[1].videoThumbnailImages.length > 0">

        <div class="subheader column is-full-mobile is-10-tablet is-offset-1-tablet" data-aos="fade-down">
            <app-localized en="Videos" tm="ஒளிப்படங்கள்" hi="ohfM;ks"></app-localized>
        </div>
        <div class="video column is-4-tablet is-offset-1-tablet center" data-aos="zoom-out">
            <a href="{{modules[1].video1Url}}">
                <cdn-image cloudinaryPrefix="/"  cloudinaryId="{{modules[1].videoThumbnailImages[0].public_id}}"
                    width="453" autoFormat="true"></cdn-image>
                <span class="icon">
                    <cdn-image cloudinaryId="icons/video" width="80" phoneWidth="24" svg="true"></cdn-image>
                </span>
            </a>
        </div>
        <div class="column is-1 hidden-mobile"></div>
        <div class="video column is-4-tablet center" data-aos="zoom-out">
            <a href="{{modules[1].video2Url}}">
                <cdn-image cloudinaryPrefix="/"  cloudinaryId="{{modules[1].videoThumbnailImages[1].public_id}}"
                    width="453" autoFormat="true"></cdn-image>
                <span class="icon">
                    <cdn-image cloudinaryId="icons/video" width="80" phoneWidth="24" svg="true"></cdn-image>
                </span>
            </a>
        </div>
    </div>
</section>

<section id="studies" class="columns is-full is-mobile is-multiline no-margin">
    <h2 class="column is-9 is-offset-1-mobile is-offset-2-tablet no-pad" data-aos="fade-up">
        <app-localized en="Stories From The Field" tm="உண்மை கதைகள்" hi="{ks=ksa ls dgkfu;ka"></app-localized>
    </h2>

    <div class="description column is-10-mobile is-7-tablet is-4-desktop is-offset-1-mobile is-offset-2-tablet no-pad"
        data-aos="fade-right" data-aos-delay="100">
        <span class="summary">
            <strong>
                <app-localized en="The Hygiene with Chhota Bheem curriculum has been implemented with proven success across
                Tamil Nadu, India, and the impact is growing!"
                    tm="தமிழ்நாட்டில் சோட்டா பீம்மும் சுகாதாரமும் பாடத்திட்டம் வெற்றிகரமாக நடைமுறைபடுத்தபட்டது. இதன் தாக்கம் மேலும் வளர்ச்சியடைந்துகொண்டிருகின்றது. குழந்தைகள் மத்தியில் பெருமளவில் விழிப்புணர்வு ஏற்பட்டு."
                    hi="NksVk Hkhe vkSj LoPNrk ikBîØe dks Hkkjr ds rfeyukMq 'kgj esa iwjh lQyrk ds lkFk ykxw fd;k x;k gS] vkSj bldk çHkko c<+ jgk gS!">
                </app-localized>
            </strong>
            <p>
                <app-localized en="Children have demonstrated increased awareness and advocacy, parents are learning from their children and spreading the message to their communities, and educators are adapting the curriculum to their needs."
                    tm="பெற்றோர்கள் குழந்தைகளிடமிருந்து கற்று கொண்டனர். இந்த பயனுள்ள தகவலை தங்கள் பகுதிகளில் பரப்பினர். கல்வியாளர்கள் இந்த பாடத்திட்டத்தை அவரவர் தேவைக்கேற்ப தங்கள் பள்ளிகளில் இணைத்து கொண்டனர்."
                    hi="cPpksa esa dkQh tkx:drk vkbZ gS vkSj mUgksaus fgnk;rksa dk ikyu fd;k gS] ekrk&firk vius cPpksa ls lh[k jgs gSa] os vius leqnk;ksa esa LoPNrk dk lans'k QSyk jgs gSa] vkSj f'k{kd viuh vko';drkvksa ds vuqlkj ikBîØe dks viuk jgs gSaA">
                </app-localized>
                    
            </p>
        </span>

        <a class="link" routerLink="/stories" queryParamsHandling="merge">
            <app-localized en="READ THE STORIES" tm="கதைகளை இங்கே படிக்கவும்" hi="dgkfu;k¡ i<+sa"></app-localized>
        </a>
    </div>

</section>

<section id="download">
    <div class="container desktop columns is-mobile no-margin">

        <div class="column is-4-tablet is-half-desktop center hidden-mobile" data-aos="zoom-out" *ngIf="!isPhone">
            <cdn-image cloudinaryId="art/phone" autoFormat="true" width="541"></cdn-image>
        </div>

        <div class="description column is-offset-1 is-5-tablet">
            <h2 data-aos="fade-up" data-aos-delay="100">
                <app-localized en="Download our Game" tm="ெயலி விளையாட்டை இங்கே பதிவிறக்கம் செய்யவும்" hi="gekjs [ksy dks MkmuyksM djsa"></app-localized>
            </h2>
            <div class="column is-half center" data-aos="zoom-out" *ngIf="isPhone">
                <cdn-image cloudinaryId="art/phone" autoFormat="true" width="300"></cdn-image>
            </div>

            <span class="summary" data-aos="fade-left" data-aos-delay="200">
                <app-localized en="The Hygiene with Chhota Bheem digital game compliments the curriculum. Available on Google Play Store and the Apple app store, the game can be played on smartphones and tablets"
                    tm="சோட்டா பீம்மும் சுகாதாரமும் என்னும் செயலி விளையாட்டு இந்த பாடத்திட்டத்தில் அன்பளிப்பாக கொடுக்கப்பட்டுள்ளது. இந்த செயலி Google Play Store மற்றும் Apple app store இல் இருந்து பதிவிறக்கம் செய்து கொள்ளலாம்."
                    hi="fMftVy xse NksVk Hkhe vkSj LoPNrk ikBîØe dks csgrj rjhds ls ykxw djus esa enn djrh gSA xqxy Iys LVksj vkSj ,Iiy ,si LVksj ij miyC/k bl [ksy dks LekVZQksu vkSj VScysV ij Hkh [ksyk tk ldrk gSA">
                </app-localized>
            </span>

            <div id="store" class="columns is-mobile is-multiline">
                <a class="column is-full-mobile is-full-tablet is-5-desktop" data-aos="zoom-out" data-aos-delay="300"
                    href="https://itunes.apple.com/us/app/hygiene-with-chhota-bheem/id1423871069?ls=1&mt=8" role="link">
                    <cdn-image cloudinaryId="icons/appstore" width="241" phoneWidth="240" svg="true"></cdn-image>
                </a>
                <a class="column is-full-mobile is-full-tablet is-5-desktop" data-aos="zoom-out" data-aos-delay="400"
                    href="https://play.google.com/store/apps/details?id=edu.engagementlab.chhotabheem">
                    <cdn-image cloudinaryId="icons/play" width="241" phoneWidth="240" svg="true"></cdn-image>
                </a>

            </div>

        </div>
    </div>

</section>
