@import '../styles/_variables';

a {
}

#intro {
}

#manual {
    background-image: cdn-image('bg/red', f_auto);
}
#studies {
    background-image: cdn-image('bg/green', f_auto);
}
#download {
    background-color: white;
}