<section id="intro" class="column columns is-full">

    <div class="column is-half center">
        <cdn-image cloudinaryId="art/module1" width="312" svg="true"></cdn-image>
    </div>

    <div class="column is-half center">
        <cdn-image cloudinaryId="art/module2" width="277" svg="true"></cdn-image>
    </div>
</section>

<section id="manual" class="column columns is-full">
    <div class="container desktop">

        <div class="column is-half center">
            <!-- <cdn-image cloudinaryId="art/module1" width="312" svg="true"></cdn-image> -->
        </div>

        <div class="column is-half center">
        </div>
    </div>

</section>

<section id="manual" class="column columns is-full">
        <div class="container desktop">
    
            <div class="column is-half center">
                <!-- <cdn-image cloudinaryId="art/module1" width="312" svg="true"></cdn-image> -->
            </div>
    
            <div class="column is-half center">
            </div>
        </div>
    
    </section>

    <section id="studies" class="column columns is-full">
            <div class="container desktop">
        
                <div class="column is-half center">
                    <!-- <cdn-image cloudinaryId="art/module1" width="312" svg="true"></cdn-image> -->
                </div>
        
                <div class="column is-half center">
                </div>
            </div>
        
        </section>
    

        <section id="download" class="column columns is-full">
                <div class="container desktop">
            
                    <div class="column is-half center">
                        <cdn-image cloudinaryId="art/phone" autoFormat="true" width="541"></cdn-image>
                    </div>
            
                    <div class="column is-half center">
                    </div>
                </div>
            
            </section>
        