@import '../styles/_variables';

a {
    color: black;

    &:visited {
        color: black;
    }

    &.view {

        display: flex;
        justify-content: center;

        h1 {
            display: flex;

            font-family: 'Overpass';
            font-size: 1em;
            font-weight: 600;
            letter-spacing: normal;
        }

        svg {
            @include transition(transform, .2s, ease-in-out);
        }

        &:hover {
            svg {
                @include translate(15%);
            }
        }

        @include not-phones {
            justify-content: flex-end;
        }

        @include phones {
            svg {
                max-width: 16px;
            }
        }

    }
}

#intro {

    padding-bottom: 12%;

    #text {

        font-size: 2em;
        line-height: 1.41;
        letter-spacing: 0.5px;

        margin-top: 8%;
        margin-bottom: 8%;

    }

    .decor {

        display: flex;
        align-items: center;
        justify-content: center;

        // Shrink svgs on tablet view
        @include mq($from: tabletPortrait, $until: desktop) {
            @include scale(.7);
        }

        &:first-child {

            margin-bottom: 30%;
            margin-left: -16%;

        }

        &:nth-child(2) {

            margin-left: 15%;

        }

        &:nth-child(3) {

            margin-top: -35%;

        }

        .ellipse {

            position: absolute;
            display: block;
            width: 204px;
            height: 205px;
            border-radius: 50%;


            &#blue {
                background-color: $green-blue;
            }

            &#red {
                background-color: $tomato;
            }

            &#yellow {
                background-color: $mango;
            }
        }

        svg {
            position: absolute;
        }
    }

}

#event {

    font-family: 'Overpass';
    font-size: .9em;
    font-weight: 600;

    line-height: 1.29;
    letter-spacing: 0.8px;

    margin-top: 10%;

    div {
        background-color: black;
        color: white;
    }

    #day {
        border-right: solid 2px white;
        text-align: center;
    }

    .view {
        padding-top: 4%;
    }

    a:hover {
        .view {
            text-decoration: underline;
        }
    }

}

#initiatives {

    >div:not(:first-child) {
        margin-top: 10%;

        @include phones {
            margin-top: 20%;
        }
    }

    h3 {
        font-size: 1.3em;
    }

    p {
        font-size: 1.5em;
    }

    .initiative {

        cdn-image {
            display: block;
            padding-top: 15%;
        }

        h2 {
            margin-bottom: 0;
            transform-origin: 0%;
            @include transition(transform, .2s, ease-in-out);
        }

        &:hover {
            h2 {
                @include scale(1.05);
            }
        }

        // project hover coloring
        &:nth-child(1) {
            .project {
                &:hover {
                    color: $mango;
                    border-color: $mango !important;
                }
            }
        }

        &:nth-child(2) {
            .project {
                &:hover {
                    color: $tomato;
                    border-bottom-color: $tomato !important;
                }
            }
        }

        &:nth-child(3) {
            .project {
                &:hover {
                    color: $green-blue;
                    border-bottom-color: $green-blue !important;
                }
            }
        }

        .label {
            font-family: 'Overpass';
            font-size: 1em;
            font-weight: 600;

            line-height: 1.29;
            letter-spacing: 0.8px;

            &.first {
                border-left: solid 4px $tomato;
            }

            &.second {
                border-left: solid 4px $green-blue;
            }

            .text {
                border-bottom: solid 1px black;
                padding-left: 3%;
                padding-bottom: 1%;
            }
        }

        .projects {
            @include not-phones {
                padding-top: 20%;
            }

            .project {
                display: block;

                margin-top: 8%;
                padding-bottom: 8%;

                border-bottom: solid 1px black;
            }
        }
    }

}

#projects-wrap {

    background-color: black;
    color: white;

    padding: 2%;
    margin-top: 17%;

    a,
    h1 {
        color: white;
    }

    h1 {
        font-size: 1.12em;
    }

    p {
        &.name {
            margin-bottom: 1%;
            font-size: 1.5em;
            font-weight: 500;
            line-height: 1.17;
            letter-spacing: 0.5px;
        }

        &.type {
            line-height: 1.25;
            letter-spacing: 1.3px;
        }

        &.byline {
            font-size: 1em;
            line-height: 1.25;
            letter-spacing: 0.3px;
        }
    }

    #projects {
        padding-left: 2%;
        padding-right: 6%;
    }

}

#events {

    margin-top: 10%;

    @include phones {
        margin-top: 35%;
    }

    h1 {
        font-size: 1.12em;
    }

    h2 {
        font-size: 3.1em;
        line-height: 1.07;
        letter-spacing: 1.3px;

        @include mobile-only {
            font-size: 2.2em;
        }
    }

    .item {     
        // What a fustercluck of padding
        &:not(.first) {
            .columns {
                margin-top: 5%;
            }
        }
        &.first {
            margin-top: 3%;
        }
        .columns {
            margin-bottom: 5.5%;
        }

        .date {
            font-size: 1.9em;
            
            @include not-phones {
                padding-top: 0;
            }
            @include mobile-only {
                font-size: 1.55em;
            }
        }
    }

}
