<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{2718.0,1090.0}</string>
        <key>name</key>
        <string>snakes_hdpi</string>
        <key>textureFileName</key>
        <string>snakes_hdpi-0001-default.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{292.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{292.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{292.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,2.0},{292.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{253.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{253.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{253.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{526.0,2.0},{253.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{214.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{214.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{214.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{781.0,2.0},{214.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{214.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{214.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{214.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{997.0,2.0},{214.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{259.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{259.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{259.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1213.0,2.0},{259.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{292.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{292.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{292.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1474.0,2.0},{292.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{259.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{259.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{259.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1768.0,2.0},{259.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_7.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{214.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{214.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{214.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2029.0,2.0},{214.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_8.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{214.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{214.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{214.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2245.0,2.0},{214.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>vector_smart_object_9.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{253.0,1084.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{253.0,1084.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{253.0,1084.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2461.0,2.0},{253.0,1084.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
